{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<header>
    <div class="logo">
      <!-- Using header styling as per SRS (14pt bold New Roman) -->
      {% if userData.username %}
      <h1>You are logged in as {{userData.username}}</h1>
      {% endif %}
      <h1>My E-Commerce</h1>
    </div>
    <nav>
        <ul>
            {%if not userData.userID%}
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/create">Register</a></li>
            {%elif not userData.approved%}
                <li><a href="/">Home</a></li>

                <h1 style="color:red">
                    {{userData.username}} has not been approved.<br>
                     Please wait until an admin approves your account</h1>
                {%block notApproved%}
                {%endblock notApproved%}
            {%else%}
                <li><p>Balance: ${{userData.balance}}</p></li>

              <li><a href="/{{userData.userID}}/main">Home</a></li>
                {%if userData.role == 3%}
                    <li><a href="/{{userData.userID}}/auth/users">Authenticate users</a></li>
                    <li><a href="/{{userData.userID}}/auth/items">Authenticate items</a></li>
                {%elif userData.role == 2%}
                    <li><a href="/{{userData.userID}}/sell/makeItem">Add new product</a></li>

                    <li><a href="/{{userData.userID}}/sell/items">See and edit Products</a></li>
                    <li><a href="/{{userData.userID}}/sell/orders">See past ordered items</a></li>
                {%elif userData.role == 1%}
                    <li><a href="/{{userData.userID}}/buy/cart">View Cart</a></li>
                    <li><a href="/{{userData.userID}}/buy/orders">See past orders</a></li>
                {%endif%}
          
          </ul>
          {%endif%}
    </nav>
  </header>
{%if not userData.userID or userData.approved%}
  {%block content%}
  {%endblock content%}

  {%block msg%}
  {%endblock msg%}
{%endif%}
