{% extends "base.html" %}

{% block content %}
<div class="form-container">
  {%block title%}<h1>Login</h1>{%endblock%}

  <form method="POST" action="">
    {%csrf_token%}
    {% for field in form %}
      <div class="form-field">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}
            <span class="required-star">*</span>
          {% endif %}
        </label>
        {{ field }}
      </div>
      {% if forloop.last %}
        <div class="required-note">* denotes required fields.</div>
      {% endif %}
    {% endfor %}
    <button type="submit" name="save">Login</button>
  </form>
</div>

{% endblock content %}

{%block msg%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3></li>
        {% endfor %}
    </ul>

    {% endif %}
{%endblock msg%}