{% extends "base.html" %}
{% block content%}


<form method = "POST">
    {% csrf_token %}

<input type="text" id="search-input" placeholder="Search for products..." name="search" value="search">
<button id="search-btn" type="submit" name="submitSearch">Search</button>
</form>

<form method = "POST">
  {% csrf_token %}

{% for item in items %}
<section class="product-listings">
    <!-- Example Product Card -->
    <article class="product-card">
      <img src="{{item.image.url | slice:"5:"}}" alt="Product Image" width = 200>
      <h2>{{item.name}}</h2>
      <p>{{item.description}}.</p>
      <p class="price">${{item.price}}</p>
      <form method="POST" action="/{% if userData %}{{ userData.userID }}{% endif %}/add_to_cart/{{ item.itemID }}/">
        {% csrf_token %}
        <input type="number" name="amount" min="1" value="1" />
        <button type="submit">Add to Cart</button>
      </form>
      <input type="number" id="amount-input" placeholder="Amount" name="amount" value=1 min=1 max={{item.stock}}>
    </article>
    <!-- Additional product cards will be dynamically added here -->
  </section>
{% endfor %}
</form>

{% endblock content %}

{%block msg%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3></li>
        {% endfor %}
    </ul>

    {% endif %}
{%endblock msg%}