{% extends "base.html" %}
{% block content%}


<form method = "POST" action="">
  {% csrf_token %}
  {% for item in items %}
  <section class="product-listings">
      <!-- Example Product Card -->
      <article class="product-card">
        <img src="{{item.image.url | slice:"5:"}}" alt="Product Image" width = 200>
        <h2>{{item.name}}</h2>
        <p>{{item.description}}.</p>
        <p class="price">${{item.price}}</p>

        {%if userData%}
          <button type="submit" name ="c{{item.itemID}}" value="c{{item.itemID}}">Add to Cart</button>
          <input type="number" id="amount-input" placeholder="Amount" name="amount" value=1 min=1 max={{item.stock}}>
        </article>
      {%endif%}
      <!-- Additional product cards will be dynamically added here -->
    </section>
  {% endfor %}
</form>

{% endblock content %}

{%block msg%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3></li>
        {% endfor %}
    </ul>

    {% endif %}
{%endblock msg%}