{% extends "base.html" %}
{%block content%}
    {%if userData.role == 1%}
        <ul>
        {%for order in orders%}
            <li><h3>Order ID: {{order.first.orderID}}</h3>
            <h3>Date Bought: {{order.first.date_bought}}</h3>
            {%for item in order%}
                <ul>
                    <li>Product ID: {{item.item.itemID}}</li>
                    <li>Product Name: {{item.item.name}}</li>
                    <li>Seller: {{item.item.seller}}</li>
                    <li>Stock: {{item.item.stock}}</li>
                    <li>Amount: {{item.amount}}</li>
                    <li>Price: {{item.price}} = {{item.item.price}} x {{item.amount}}</li>
                </ul>
                <br>
            {%endfor%}
            <h3>total: ${{order.first.totalPrice}}</h3></li>
          {%endfor%}
        </ul>

    {%elif userData.role == 2%}
        {%for item in order%}
            <h3>Bought by {{item.buyer.username}} on {{item.date_bought}}<br></h3>

            <ul>
                <li>Order ID: {{item.orderID}}</li>
                <li>Product ID: {{item.item.itemID}}</li>
                <li>Product Name: {{item.item.name}}</li>
                <li>Stock: {{item.item.stock}}</li>
                <li>Amount: {{item.amount}}</li>
                <li>Price: {{item.price}} = {{item.item.price}} x {{item.amount}}</li>
            </ul>
        {%endfor%}
    {%elif userData.role == 3%}
    <ul>
        {%for order in orders%}
            <li><h3>Order ID: {{order.first.orderID}}</h3>
            <h3>Date Bought: {{order.first.date_bought}}</h3>
            <h3>Buyer Name: {{order.first.buyer}}</h3>
            <h3>Buyer ID: {{order.first.buyer.userID}}</h3>
            {%for item in order%}
                <ul>
                    <li>Product ID: {{item.item.itemID}}</li>
                    <li>Product Name: {{item.item.name}}</li>
                    <li>Seller Name: {{item.item.seller}}</li>
                    <li>Seller ID: {{item.item.seller.userID}}</li>
                    <li>Stock: {{item.item.stock}}</li>
                    <li>Amount: {{item.amount}}</li>
                    <li>Price: {{item.price}} = {{item.item.price}} x {{item.amount}}</li>
                </ul>
                <br>
            {%endfor%}
            <h3>total: ${{order.first.totalPrice}}</h3></li>
          {%endfor%}
        </ul>

    {%endif%}


{%endblock content%}

{%block msg%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3></li>
        {% endfor %}
    </ul>

    {% endif %}
{%endblock msg%}